html {
    background-color: #d5e1df;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Mooli', sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {
    color: #E5CFF7 ;
    background-color: #FF6969;
}  */

/* p, li {
    color: #E5CFF7 ;
} */

img {
    border: 5px solid #b5e7a0 ;
}

/* #name {
    text-align: center;
} */

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#headContainer {
    margin: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

#intro {
    display: inline;
}

.section > h2 {
    margin-left: 2rem;
    /* color: burlywood; */
}

.contact {
    margin-left: 2rem;
}

a {
    color: black;
}

#skills {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

footer {
    text-align: center;
}

@media screen and (max-width: 640px) {
    #headContainer {
        margin: 2rem;
        display: block;
        justify-content: space-around;
    }
    
  }